body {
    padding: 0;
    margin: 10px;
    position: relative;

  }
  .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 280px;
  }
  .groupDiv{
    padding: 15px;
    border: 1px solid black;
    background-color: rgb(208, 153, 51);
    margin: 12px;
    border-radius: 24px;
    width: 220px;
    height: 120px;
    
  }
  .modal-parent {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.902);
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 1;
    
  }
  .modal {
    height: 300px;
    width: 800px;
    background-color: rgb(12, 202, 223);
  }
  .user-div {
    padding: 10px;
    margin: 10px 0;
    background-color: aqua;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .modal-body{
    height: 90%;
    overflow: scroll;
  }
  .close{
    background-color: rgb(180, 88, 55);
    height: 40px;
    width: 120px;
    color: #fff;
    cursor: pointer;
  }
  .close:hover{
    background-color: red;
  }
  tr{
    border: 1px solid black;
  }
  td{
    border: 1px solid black;
  }
  th{
    border: 1px solid black;
    width: 120px;
  }